body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.upload-image-form{
	display: inline-block;
}

.main-content{
	width: 100%;
	text-align: center;
}

.large-button {
  display: block;
  width: 300px;
  margin:0 auto;
}
